@font-face {
    font-family: PIXEL;
    src: url('/fonts/Pixeled.ttf');
}

html {
    cursor: none;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: PIXEL;
    color: #007596;
    background-color: #d1d1d1;  
    user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    font-weight: bold;
    font-size: 3rem;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    margin-bottom: 4vh;
    font-size: 0.5rem;
    word-spacing: 1.5vw;
}

.subtitle img {
    height: 5vh;

}

#background-lab {
    background-image: url('/images/Lab.gif');
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    margin-top: 15vh;
}

#lifes-score {
    display: flex;
    justify-content: space-around;
}
#lifes-score div{
    border: 8px solid #003949;
    background-color: rgba(30, 243, 255,0.40);
    width: 500px;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 1vh;
    text-align: center;
}

#score {
    letter-spacing: 0.2vw;
}

#lifes img {
    max-height: 6vh;
    max-width: 6vw;
    padding-bottom: 0.5vh;
}

canvas {
    border: 8px solid black;
}

#game-over button {
    margin: 2vh 43vw 2vh 43vw;
    border: 3px solid rgb(0, 71, 75);
    font-size: 1.2rem;
    cursor: none;
    padding-bottom: 1.5vh;
}

#buttons {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    margin-top: 1vh;
    border: 3px solid rgb(0, 71, 75);
    font-size: 1.2rem;
    cursor: none;
    padding-bottom: 1vh;
}

#buttons button img {
    padding-bottom: 1vh;
}

#done-by{
    margin-top: 2vh;
    font-weight: bold;
}

#done-by a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

.github-logo {
    height: 40px;
    padding-bottom: 10px;
}

.display-none {
     display: none;
}

#cursor {
    position: absolute;
    pointer-events: none;
    z-index: 5;
}

.on-top-screen {
    z-index: 2;
    margin-top: 14vh;
    background-color: #9e9e9ec5;
    height: 500px;
    position: absolute;
    width: 1000px;
}

.on-top-screen-black {
z-index: 2;
margin-top: 16vh;
background-color: #000000;
color: white;
height: 516px;
position: absolute;
width: 100vw;
}

.on-top-screen p ,
.on-top-screen-black p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    word-spacing: 0.6vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}

 .on-top-screen-black h3{
     text-align: center;
     font-size: 3.5rem;
     margin-top: 2vh;
     margin-bottom: 2vh;
 }